@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Sen, sans-serif;
  letter-spacing: 2px;
  /* center everything, vetically and horizontially */
  display: flex;
  /* vertical axis */
  align-items: center;
  /* horizontal axis */
  justify-content: center;
  background: #c9ced3;
}

.container {
  width: 480px;
  height: 630px;
  background: white;
  display: flex;
  /* initallized top to bottom(when you give flex, by default is going from left to right */
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

/* Form */
form {
  width: 90%;
}

.form-group {
  height: 65px;
}

label {
/* having a little bit more space */
  position: relative;
  bottom: 3px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  /* do not change if clicked */
  outline: none;
  /* ignoring the padding and do not allow the width to be 100% */
  box-sizing: border-box;
  /* for the :valid */
  transition: all 0.3s;
}
/* The :valid CSS pseudo-class represents any <input> or other <form> element whose contents validate successfully. This allows to easily make valid fields adopt an appearance that helps the user confirm that their data is formatted properly. */
input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

button {
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  /* add font family aggain cause btn and inputs have they're own fonts by default */
  font-family: Sen, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(200%);
  /* add color since we make brighter the black */
  background: rgb(22, 22, 22);
}
/* get rid of the outline while you click */
button:focus {
  outline: none;
}

.message-container {
  border: 1px solid black;
  border-radius: 5px;
  /* we give that cause is outside of our form */
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
}
